/*start basket*/

.basket_table {
    overflow: auto;
    margin-bottom: 30px;
    background: #FFFFFF;
    margin-bottom: 90px;
    font-size: 15px;

    table {
        min-width: 99%;
    }

    tr:hover {
        td {
            background: #EEF5F9;
        }
    }

    th {
        padding: 0px 10px 25px 40px;
        border-bottom: 1px solid #CFDBE7;
        text-align: left;
        font-weight: 400;

        &:first-child {
            border-left: 0;
        }
    }
    td {
        padding: 35px 0px 35px 40px;
        text-align: left;
        border-bottom: 1px solid #CFDBE7;
        
        &:first-child {
            border-left: 1px solid #CFDBE7;
        }
        &:last-child {
            border-right: 1px solid #CFDBE7;
        }
    }

    a {
        color: $color_text;
    }

    p {
        margin-bottom: 0px;
    }

    .img {
        background-color: #fff;
        a {
            display: inline-block;
            width: 120px;
            height: 105px;
            line-height: 145px;
            //border: 1px solid #DFEDEE;
            box-sizing: border-box;
            overflow: hidden;
            text-align: center;

            img {
                max-width: 99%;
                max-height: 99%;
                object-fit: contain;
                vertical-align: middle;
            }
        }
    }

    .name .h6 {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0px;
        height: 80px;
        overflow: hidden;

    }

    .desc {
        min-width: 290px;
        p {
            font-size: 12px;
            line-height: 22px;

            .char {
                display: inline-block;
                width: 150px;
                //vertical-align: text-bottom;
            }
        }
    }

    .price {
        color: $color_a;
        font-weight: 500;
        font-size: 18px;
    }

    .delete_all {
        display: inline-block;
        position: relative;
        padding-left: 20px;
        white-space: nowrap;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 15px;
            border: 1px solid $color_a;
            top: 50%;
            left: 0;
            margin-left: -6px;
            margin-top: -1px;
            transform: rotate(45deg);
            @include transition(all);
        }
        &::after {
            transform: rotate(135deg);
        }

        &:hover {
            background-color: $color_a;
        }
    }
    .delete {
        a {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(images/icon_basket_delete.svg) no-repeat center;
            @include transition(all);
            text-indent: -10000px;
            overflow: hidden;
            position: relative;
        }
    }

    .number {
        .quantity {
            display: inline-flex;
        }
        input {
            width: 129px;
            height: 47px;
            background: #FFFFFF;
            border: 1px solid $color_a;
            box-sizing: border-box;
            border-radius: 0px;
            text-align: center;
            //padding-right: 20px;
            font-family: $font_family_os;
            font-size: 20px;
            line-height: 22px;
            vertical-align: middle;
        }
        .plus_number, .minus_number {
            width: 30px;
            height: 47px;
            background-color: $color_a;
            @include transition(all);
            //font-weight: bold;
            font-family: $font_family_os;
            font-size: 28px;
            line-height: 0px;
            font-weight: 300;
            color: #fff;
            padding: 0;
            position: relative;
            display: inline-block;
            cursor: pointer;
            padding-top: 2px;
        }
        .minus_number {
            font-size: 39px;
            padding-top: 0px;
        }
    }

}


/*End basket*/
