/*start catalog*/
.title{
    padding-top: 30px;
    padding-bottom: 2px;
    margin-bottom: 50px;
    background-color: $color_bg;
    box-sizing: border-box;
    min-height: 130px;
    ul{
        li{
            display: inline-block;

            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;

            color: $color_a;

            &.active{
                opacity: 60%;
            }

            a:after{
                    content: "";
                    display: inline-block;

                    //font-size: 20px;

                    margin-left: 18px;
                    margin-right: 13px;
                    color: #13498383;
                    width: 12px;
                    height: 7px;
                    background: url(images/arrow_grey.svg) no-repeat right center;
                
            }
        }
    }
}
#small_form + .content{
    margin-top: 105px;
    margin-bottom: 120px;
}
.text_and_image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    .image{
        overflow: hidden;
        width: 45%;
        height: auto;

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .contain{
        img{
            object-fit: contain;
            object-position: center;
        }
    }

    .left_image {
        order: 1;
    }
    .right_image {
        order: 2;
    }

    .text{
        box-sizing: border-box;
        width: calc(50% - 100px);
        /*padding:32px 90px 42px 90px;*/
        //padding: 32px 0 ;
        order: 1;
    }
    .midway_button{
        margin: 60px auto 0;
        order: 3; 
    }
}

.secondary_menu + .content .page_width .text_and_image {
    padding-top: 80px;
}
.midway{
    text-align: center;
    width: 70%;
    margin: 0 auto 20px;
}
@media screen and (max-width:1100px){
    .text_and_image{
        .image{
            width: 50%;
        }
        .contain{
            display: block;
            width: 100%;
        }

        // .text_2_v{
        //     width: 100%;
        //     order: 2;
        //     margin-top: 20px;
        // }

        .midway_button{
            margin: 30px auto 0;
        }
    }
}
@media screen and (max-width:950px){
    .text_and_image{
        margin-bottom: 30px;
        .image{
            width: 100%;
        }
        .text{
            width: 100%;
            order: 2;
            margin-top: 20px;
        }
    }
}
/*@media screen and (max-width:760px){
    #small_form + .content{
        margin-top: 65px;
        margin-bottom: 60px;
    }
    .text_and_image{
        .image{
            display: none;
        }

        .contain{
            display: block;
            width: 100%;
        }

        .text{
            width: 100%;

            padding: 0;
        }
    }
}*/
@media screen and (max-width:360px){
    .title{
        .breadcrumbs{
            margin-bottom: 10px;
        }
    }
}

/*end catalog*/


/*Start for download*/
.download{
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    //width: 31%;
    //height: 90px;
    margin: 0 20px 13px 0;
    padding: 15px 60px 15px 40px;
    text-decoration: none;
    position: relative;
    border: 1px solid #E1E1E1;
    @include transition(all);

    &::after {
        content: '';
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -9px;
        width: 16px;
        height: 18px;
        background: url(images/icon_download.svg) no-repeat center;
    }
    
    &:hover{
        border: 1px solid #134983;
        text-decoration: none;
    }
}
.documents_box{
    //align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 80px;
    .download{
        width: 31%;
        min-height: 90px;
        margin: 1.2% 1.1%;
        display: flex;
        align-items: center;
    }
}

// @media screen and (max-width:1480px){
//     .documents_box{
//         .download{
//             height: 100px;
//         }
//     }
// }
@media screen and (max-width:1200px){
    .documents_box{
        .download{
            width: 32%;
            margin:1% 0.6% ;
            padding-left: 20px;
        }
    }
}
// @media screen and (max-width:1112px){
//     .documents_box{
//         .download{
//             height: 140px;
//         }
//     }
// }
@media screen and (max-width:1024px){
    .documents_box{
        .download{
            //height: 140px;
            width: 48%;
            margin: 1%;
        }
    }
}
@media screen and (max-width:601px){
    .documents_box{
        .download{
            //height: 90px;
            width: 100%;
            margin: 2% 0 ;
        }
    }
}
// @media screen and (max-width:398px){
//     .documents_box{
//         .download{
//             height: 130px;
//         }
//     }
// }

/*End for download*/

.video {
    width: 254px;
    height: 254px;
    border-radius: 50%;

    .video_play {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-sizing: border-box;
        text-indent: -1000px;
        border: 2px solid rgba(255, 255, 255, 0.6);
        position: relative;
        overflow: hidden;
        @include transition(all);

        &:before {
            content: "";
            position: absolute;
            width: 134px;
            height: 146px;
            top: 50%;
            left: 50%;
            margin: -67px 0 0 -47px;
            background: url(images/icon_play.svg) no-repeat center/100% auto;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

/*start Projects*/
.text_bgImage{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background: #EEF5F9 no-repeat center / cover;
    //padding-bottom: 30px;
    margin-bottom: 50px;
    align-items: center;

    .text{
        margin-left: auto;
        justify-self: right;
        box-sizing: border-box;
        width: 50%;
        min-height: 390px;
        //background-color: #0a2a4fcc;
        margin-right: -1px;
        padding: 50px 75px;
    }

    &.mas {
        .text{
            min-height: auto;
            width: 40%;
        }

        .right_image {
            width: calc(60% - 75px);

            img {
                max-width: 100%;
            }
        }
    }

    .button{
        margin-top: 50px;
        &::after{
            content: none;
        }
    }

    &.blue_bg .text{
        background-color: #0a2a4fcc;

        h2, p{
            color: #ffffff;
        }

        .button{
            background-color: transparent;
            border: 2px solid #FFF;
    
            &:hover{
                background-color: #FFF;
                color: $color_a;
            }
        }
    }

    &.white_bg .text{
        background: rgba(255, 255, 255, 0.85);
    }

    &.text_white .text {
        padding-top: 90px;
        h2, p{
            color: #ffffff;
        }

        .button{
            background-color: transparent;
            border: 2px solid #FFF;
    
            &:hover{
                background-color: #FFF;
                color: $color_a;
            }
        }
    }

    &.text_left .text {
        justify-self: left;
        margin-left: 0;
    }
    .video {
        margin-right: auto;
        margin-left: 15.5%;
    }

    &.text_left .video {
        order: 2;
        justify-self: right;
        margin-left: auto;
        margin-right: 11.5%;
    }

}
.content{
    .projects{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px 40px;
        .item{
            opacity: 100%;
            margin: 10px;
        }
    }
}

.pagination{
    text-align: center;
    margin-bottom: 80px;
    ul{
        li{
            display: inline-block;

            a{
                box-sizing: border-box;

                padding-top: 7px;
                margin: 0 7.5px;

                display: block;
                background-color: transparent;
                width: 36px;
                height: 36px;
                text-decoration: none;

                @include transition(all);

                &.activ{
                    background-color: $color_h;
                    color: #FFF;

                    &:hover{
                        background-color: $color_h;
                    }
                }

                &:hover{
                    background-color: $color_a_hover;
                    color: #FFF;
                }
            }
            a.prev::after{
                content: "<";
            }
            a.next::after{
                content: ">";
            }
        }
    }
}


@media screen and (max-width:1568px){
    .content .projects{
        .item{
            height: 500px;
        }
    }
}
@media screen and (max-width:1303px){
    .content .projects{
        .item{
            width: calc(33% - 20px);
        }
    }
}
@media screen and (max-width:1170px){
    .text_bgImage .text{
        padding: 50px ;
    }
}
@media screen and (max-width:1028px){
    .text_bgImage .text{
        width: 60%;
    }
    .content .projects{
        .item{
            height: 453px;
            width: calc(50% - 20px);
        }
    }
}
@media screen and (max-width:833px){
    .text_bgImage .text{
        width: 100%;
        padding: 50px 40px;
    }
}
@media screen and (max-width:600px){
    .content .projects{
        .item{
           width: calc(100% - 20px);
        }
    }
}
@media screen and (max-width:478px){
    .text_bgImage .text{
        padding: 50px 20px;
    }
    .pagination{
        ul li a{
            margin: 0 3px;
        }
    }
}
@media screen and (max-width:406px){
    .pagination{
        ul li a{
            padding-top: 5px;
            width: 30px;
            height: 30px;
            margin: 0 1px;
        }
    }
}
@media screen and (max-width: 350px) {
    .text_bgImage .text{
        padding: 50px 12px;
    }
    .content .projects{
        .item {
            height: 453px;
            .image {
                height: 330px;
            }
        }
    }
}
@media screen and (max-width:325px){
    .pagination{
        ul li a{
            padding-top: 5px;
            width: 30px;
            height: 30px;
            margin: 0 0px;
        }
    }
}
/*end Projects*/


/*Start Mission and strategy*/

.second_title{
    text-align: center;
    background-color: $color_bg;
    background-image: url(images/bg_h2.png);
    background-size: cover;
    padding: 40px 0 20px;
    margin-bottom: 70px;
}

/*end Mission and strategy*/

/*Start certificates*/

.guarantee_min{
    background-color: $color_bg;
    padding: 60px 0 80px;
    margin-bottom: 80px;
}
.lit_block{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;

    .item{
        width: calc(33.33% - 20px);
        margin: 0 10px;
        display: flex;

        .image{
            box-sizing: border-box;
            width: 106px;
            height: 106px;
            background-color: #FFF;
            border-radius: 50%;

            text-align: center;

            padding-top: 23px;

            margin-right: 15px;
        }

        p{
            /*width: 323px;*/
            width: 70%;
        }
    }
}
.big_block{
    display: flex;
    flex-wrap: wrap;

    .item{
        background-color: #FFF;
        box-sizing: border-box;
        width: calc(33.33% - 20px);
        height: 260px;
        margin: 10px 10px;

        text-align: center;

        position: relative;
        padding: 30px 25px 0;

        overflow: hidden;
        box-shadow: -10px 10px 20px rgba(19, 73, 131, 0.2);

        img{
            vertical-align: middle;
            margin: 0 35px;
        }
        p{
            margin-top: 20px;
        }
    }
}


@media screen and (max-width:1526px){
    .big_block .item{
        height: 300px;
    }
}
@media screen and (max-width:1340px){
    .lit_block .item{
        .image{
            width: 90px;
            height: 90px;

            padding-top: 15px;
            text-align: center;
        }
    }
}
@media screen and (max-width:1230px){
    .lit_block .item{
        p{
            width: 60%;
        }
    }
    .big_block .item{
        img{
            margin: 0 10px;
        }
    }
}
@media screen and (max-width:1024px){
    .lit_block .item{
        width: 80%;
        margin-left: auto;
        margin-bottom: 20px;
        p{
            width: 60%;
        }
    }
    .big_block .item{
        width: 60%;
        height: 260px;
        margin: 10px auto;
    }
}
@media screen and (max-width:760px){
    .lit_block .item{
        margin-left: auto;
        margin-right: auto;
        p{
            width: 70%;
        }
    }
    .big_block .item{
        width: 90%;
    }
}
@media screen and (max-width:518px){
    .lit_block .item{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        p{
            width: 70%;
        }
    }
    .big_block .item{
        width: 100%;
        padding: 30px 15px 0;
    }
}
@media screen and (max-width:450px){
    .lit_block .item{
        flex-wrap: wrap;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .image{
            margin: 0 auto 20px ;
        }
        p{
            width: 100%;
        }
    }
    .big_block .item{
        height: 300px;
        padding: 30px 15px 0;
    }
}
@media screen and (max-width:321px){
    .big_block .item{
        height: 320px;
    }
}

/*End certificates*/

/*Start Contacts*/

.map_and_contacts{
    display: flex;
    margin-top: 60px;

    .text_contacts{
        width: 35%;
        padding-right: 55px;

        .item{
            margin-bottom: 30px;

            a{
                font-weight: 500;
                position: relative;
            }

            &:last-child a::after{
                content: url(images/icon_download.svg);
                position: absolute;
                right: -25px;
                top: 50%;
                margin-top: -7px;

            }
        }
        .contact_titles{
            color: $color_text_alt;
        }
    }
    iframe{
        width: 65%;

        border: none;
    }
}

.table_block{
    padding-bottom: 70px;
    
    margin-top: 100px;

    border-bottom: #BECAD3 1px solid;

    overflow: auto;

    table{
        width: 100%;
        min-width: 760px;
    
        tr{
            height: 77px;
            padding-left: 20px;
    
            &:first-child{
                border-bottom: 1px solid #BECAD3;
            }
            &:nth-child(2n+3){
                background-color: $color_bg;
            }
    
            td{
                padding: 0 50px;
            }
    
            th{
                text-align: left;
                padding: 0 50px;
    
                font-weight: 500;
                font-size: 14px;
                color: $color_text_alt;
            }
        }
    }
}

.road_and_time{
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 100px;
    margin-top: 100px;

    .road_block{
        width: 40%;

        img{
            width: 100%;
        }

        p{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            color: $color_a;

            margin: 20px 0 10px;
        }

        .button::after{
            content: none;
        }
    }

    .time_block{
        width: 30%;
        margin-left: 270px;
        table{
            width: 100%;

           
            th{
                font-weight: normal;
                font-size: 22px;
                color: $color_text_alt;
                text-align: left;
                padding-bottom: 20px;
            }

            td{
                padding-bottom: 15px;
            }
            tr:nth-child(2){
                border-bottom: 1px solid #BECAD3;

                td{
                    padding-bottom: 40px;
                }
            }
            tr:nth-child(2),
            tr:nth-child(4){
                td:nth-child(3){
                    color: $color_text_alt;
                }
            }

            tr:nth-child(3){
                th{
                    padding-top: 40px;
                }
            }
        }
    }
}

.margin_top{
    margin-top: 30px;
}
.map_and_contacts_SecondV{
    display: flex;
    margin-bottom: 100px;

    .text-contacts{
        height: 740px;
        width: 604px;
        overflow: auto;

        .item{
            padding: 30px 60px 30px 30px;
            border: 1px solid #CFDBE7;

            h3{
                text-transform: none;
                color: $color_text;
            }
            ul,
            a{
                display: inline-block;
                vertical-align: top;
            }
            ul{
                margin-right: 50px;
            }
            p{
                margin-top: 20px;

                &:last-child{
                    color: $color_text_alt;
                }
            }

            &:nth-child(even){
                background-color: $color_bg;
            }
        }
    }
    .text-contacts::-webkit-scrollbar{
        width: 18px;
    }
    .text-contacts::-webkit-scrollbar-track{
        background-color: #ffffff;
    }
    .text-contacts::-webkit-scrollbar-thumb{
        background-color: #B0C5D8;
        border: 3px solid #ffffff;
        border-radius: 10px;
    }

    .map_or_image{
        position: relative;
        height: auto;
        img,
        iframe{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}


@media screen and (max-width:1200px){
    .road_and_time{
        justify-content: space-between;
        .road_block{
            width: calc(50% - 50px);
        }
        .time_block {
            width: calc(50% - 50px);
            margin-left: 0;
        }
    }
}
@media screen and (max-width:1179px){
    .map_and_contacts_SecondV .text-contacts .item{
        ul{
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width:1100px){
    .table_block table tr{
        height: 110px;
    }
}
@media screen and (max-width:1024px){
    .map_and_contacts_SecondV{
        flex-wrap: wrap;

        .text-contacts{
            order: 2;
            height: 550px;
            width: 100%;

            .item{
                ul{
                    margin-bottom: 20px;
                }
            }
        }
        .map_or_image{
            order: 1;
            width: 100%;
            height: 300px;
        }
    }
}
@media screen and (max-width:990px){
    .table_block table tr{
        height: 130px;

        td{
            padding: 0 20px;
        }
    }
}
@media screen and (max-width:792px){
    .map_and_contacts{
        .text_contacts{
            width: 60%;
        }

        iframe{
            width: 40%;
        }
    }

    .road_and_time{
        .road_block{
            width: 80%;

            margin-left: auto;
            margin-right: auto;
        }
        .time_block {
            width: 80%;

            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;
        }
    }
}
@media screen and (max-width:618px){
    .road_and_time{
        .road_block{
            width: 100%;
        }
        .time_block {
            width: 100%;
        }
    }
}
@media screen and (max-width:542px){
    .map_and_contacts{
        flex-wrap: wrap;
        .text_contacts{
            width: 100%;
            order: 2;
            padding-right: 0px;
        }

        iframe{
            width: 100%;
            order: 1;
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width:375px){
    .map_and_contacts_SecondV{

        .text-contacts{
            .item{
                padding: 30px 30px 30px 20px;
            }
        }
    }
}
/* End Contacts*/





/*Start Vacancies*/

.vacansis_block{
    display: flex;
    flex-wrap: wrap;

    .item{
        box-sizing: border-box;
        width: calc(50% - 24px);
        margin: 0 12px;
        padding: 30px 47px 10px 60px;
        box-shadow: -10px 10px 20px rgba(19, 73, 131, 0.2);

        overflow: hidden;

        position: relative;

        @include transition(all);

        &::before{
            content: "";
            position: absolute;
        /*width: calc(100% - 172px);
            right: 272px;*/
            width: 36px;
            left: 0;
            top: 75px;
            height: 22px;
            background-color: #134983;

            @include transition(all);
        }

        .image{
            box-sizing: border-box;
            background-color: #EFF4FA;
            width: 106px;
            height: 106px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;

            @include transition(all);

            img{
                max-width: 80%;
                max-height: 80%;

                @include transition(all);
            }
        }

        .text{
            margin-left: 130px;

            @include transition(all);
            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 176.4%;
    
                text-transform: uppercase;
            }

            .button{
                background-color: transparent;
                margin-top: 0px;

                padding: 0px 20px 0 0;

                display: inline;

                opacity: 0;
                

                &:hover{
                    text-decoration: underline;
                }
            }

        }

        &:hover{
            background-color: $color_h;
            color: #fff;

            box-shadow: none;

            &::before{
                background-color: #659EDB;
            }

            .image{
                background: rgba(239, 244, 250, 0.2);
                img{
                    filter: brightness(0.5) contrast(300%) invert(1);
                }
            }

            .text .button{
                opacity: 100;
            }
        }
    }
}


@media screen and (max-width:1024px){
    .vacansis_block .item{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:573px){
    .vacansis_block .item{
        .image{
            position: static;
        }

        .text{
            margin-left: 0px;
            margin-top: 20px;
        }
    }
}
/*End Vacancies*/


.important_numbers {
    width: 100%;
    display: flex;
    position: relative;

    &.about_page {
        justify-content: center;
        margin-top: -80px;
        padding-bottom: 60px;
        .item {
            height: 150px;
            width: 295px;
            margin: 0 25px 30px;
            box-shadow: -10px 10px 20px rgba(19, 73, 131, 0.2);
            background-color: #fff;
            text-align: center;
            position: relative;
            padding-top: 32px;
            overflow: hidden;
            box-sizing: border-box;

            .num {
                display: block;
                width: 200%;
                margin-left: -50%;
                font-weight: 500;
                font-size: 40px;
                line-height: 49px;
                color: $color_a;
                margin-bottom: 13px;

                &::before, &::after {
                    content: '';
                    display: inline-block;
                    width: 25%;
                    height: 5px;
                    background-color: #BECAD3;
                    vertical-align: middle;
                    margin-bottom: 14px;
                }
                &::before {
                    margin-right: 20px;
                }
                &::after {
                    margin-left: 20px;
                }
            }

            p {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 12px;
                line-height: 176.4%;
            }
        }
    }
}

.mas .important_numbers {
    justify-content: space-between;
    //padding-bottom: 60px;
    padding: 0 75px 30px;
    .item {
        position: relative;
        text-align: center;

        .num {
            display: inline-block;
            font-weight: 300;
            font-size: 40px;
            line-height: 49px;
            padding: 15px 0 10px;
            color: $color_a;
            position: relative;
            box-sizing: border-box;
            min-width: 78px;
            text-align: center;
            background: radial-gradient(circle, #fff, #fff 30px, transparent 10px, transparent 20px);
        }

        p {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px;
            line-height: 176.4%;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 20px;
            margin-left: 10px;
        }
    }
    .item_more {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

