/*start catalog*/
.title{
    padding-top: 30px;
    padding-bottom: 2px;
    margin-bottom: 50px;
    background-color: $color_bg;
    ul{
        li{
            display: inline-block;

            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;

            color: $color_a;

            &.active{
                opacity: 60%;
            }

            a:after{
                    content: "→";
                    display: inline-block;

                    font-size: 20px;

                    margin-left: 18px;
                    margin-right: 13px;
                    color: #13498383;
                
            }
        }
    }
}
#small_form + .content{
    margin-top: 105px;
    margin-bottom: 120px;
}
.text_and_image{
    display: flex;

    .image{
        overflow: hidden;
        width: 50%;
        height: auto;

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .left_image {
        order: 1;
    }
    .right_image {
        order: 0;
    }

    .text{
        width: 48%;
        padding:32px 90px 42px;
        order: 1;
    }
}

@media screen and (max-width:1100px){
    .text_and_image{
        .image{
            width: 50%;
        }

        .text{
            width: 50%;

            padding: 30px 50px 40px;
        }
    }
}
@media screen and (max-width:950px){
    .text_and_image{
        .image{
            width: 50%;
        }

        .text{
            width: 50%;

            padding: 30px 30px 40px;
        }
    }
}
@media screen and (max-width:760px){
    #small_form + .content{
        margin-top: 65px;
        margin-bottom: 60px;
    }
    .text_and_image{
        .image{
            display: none;
        }

        .text{
            width: 100%;

            padding: 0;
        }
    }
}
@media screen and (max-width:360px){
    .title{
        .breadcrumbs{
            margin-bottom: 10px;
        }
    }
}

/*end catalog*/


/*Start for download*/
.documents_box{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 80px;
    .download{
        overflow: hidden;
        box-sizing: border-box;
        display: table-cell;
        vertical-align: middle;
        width: 31%;
        height: 90px;
        margin: 1.2% 1.1%;
        text-decoration: none;
        position: relative;
        @include transition(all);

        p{
            margin: 0 0 0 40px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 60%;
        }

        &::after {
            content: '';
            position: absolute;
            right: 30px;
            top: 50%;
            margin-top: -9px;
            width: 16px;
            height: 18px;
            background: url(images/icon_download.svg) no-repeat center;
        }

        border: 1px solid #E1E1E1;

        
        &:hover{
            border: 1px solid #134983;
        }
    }
}

@media screen and (max-width:1480px){
    .documents_box{
        .download{
            height: 100px;

            p{
                margin: 0 0 0 40px;
                width: 70%;
            }
        }
    }
}
@media screen and (max-width:1200px){
    .documents_box{
        .download{
            width: 32%;
            margin:1% 0.6% ;
            p{
                margin: 0 0 0 20px;
            }
        }
    }
}
@media screen and (max-width:1112px){
    .documents_box{
        .download{
            height: 140px;
        }
    }
}
@media screen and (max-width:1024px){
    .documents_box{
        .download{
            height: 140px;
            width: 48%;
            margin: 1%;
        }
    }
}
@media screen and (max-width:601px){
    .documents_box{
        .download{
            height: 90px;
            width: 100%;
            margin: 2% 0 ;
        }
    }
}
@media screen and (max-width:398px){
    .documents_box{
        .download{
            height: 130px;
        }
    }
}

/*End for download*/


/*start Projects*/
.text_bgImage{
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    background: no-repeat center / cover;
    margin-bottom: 50px;

    .text{
        margin-left: auto;
        justify-self: right;
        box-sizing: border-box;
        width: 50%;
        //background-color: #0a2a4fcc;

        padding: 50px 100px;
    }

    .button{
        margin-top: 50px;
        &::after{
            content: none;
        }
    }

    &.blue_bg .text{
        background-color: #0a2a4fcc;

        h2, p{
            color: #ffffff;
        }

        .button{
            background-color: transparent;
            border: 2px solid #FFF;
    
            &:hover{
                background-color: #FFF;
                color: $color_a;
            }
        }
    }

}
.content{
    .projects{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px 40px;
        .item{
            opacity: 100%;
            margin: 10px;
        }
    }
}

.pagination{
    text-align: center;
    margin-bottom: 80px;
    ul{
        li{
            display: inline-block;

            a{
                box-sizing: border-box;

                padding-top: 7px;
                margin: 0 7.5px;

                display: block;
                background-color: transparent;
                width: 36px;
                height: 36px;
                text-decoration: none;

                @include transition(all);

                &.activ{
                    background-color: $color_h;
                    color: #FFF;

                    &:hover{
                        background-color: $color_h;
                    }
                }

                &:hover{
                    background-color: $color_a_hover;
                    color: #FFF;
                }
            }
            a.prev::after{
                content: "<";
            }
            a.next::after{
                content: ">";
            }
        }
    }
}


@media screen and (max-width:1568px){
    .content .projects{
        .item{
            height: 500px;
        }
    }
}
@media screen and (max-width:1303px){
    .content .projects{
        .item{
            width: calc(33% - 20px);
        }
    }
}
@media screen and (max-width:1170px){
    .text_bgImage .text{
        padding: 50px ;
    }
}
@media screen and (max-width:1028px){
    .text_bgImage .text{
        width: 60%;
    }
    .content .projects{
        .item{
            height: 453px;
            width: calc(50% - 20px);
        }
    }
}
@media screen and (max-width:833px){
    .text_bgImage .text{
        width: 100%;
        padding: 50px 40px;
    }
}
@media screen and (max-width:600px){
    .content .projects{
        .item{
           width: calc(100% - 20px);
        }
    }
}
@media screen and (max-width:478px){
    .text_bgImage .text{
        padding: 50px 20px;
    }
    .pagination{
        ul li a{
            margin: 0 3px;
        }
    }
}
@media screen and (max-width:406px){
    .pagination{
        ul li a{
            padding-top: 5px;
            width: 30px;
            height: 30px;
            margin: 0 1px;
        }
    }
}
@media screen and (max-width: 350px) {
    .text_bgImage .text{
        padding: 50px 12px;
    }
    .content .projects{
        .item {
            height: 453px;
            .image {
                height: 330px;
            }
        }
    }
}
@media screen and (max-width:325px){
    .pagination{
        ul li a{
            padding-top: 5px;
            width: 30px;
            height: 30px;
            margin: 0 0px;
        }
    }
}
/*end Projects*/