/* start forms styles */ 

#main_form {
	z-index: 2;
	//overflow: visible;
	border-top: 1px solid #E1E1E1;
	//display: flex;

	&:after {
		@include clear();
    }

	.image {
		position: absolute;
		height: 101%;
		width: 50%;
		max-width: 50%;
		margin-top: -1px;


		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

    .page_width {
		padding-top: 100px;
		padding-bottom: 60px;
		margin-left: 50%;
		max-width: $max-width/2;
		padding-left: 0;
		min-height: 100%;

		&::before, &::after {
			content: "";
			position: absolute;
			top: 110px;
			left: 0;
			width: 133/1480*1.5*100%;
			height: 10px;
		}
		&::before {
			background-color: $color_a;
		}
		&::after {
			left: -133/1480*1.5*100%;
			background-color: #fff;
		}
    }
    
    h2 {
		margin-bottom: 6px;
	}
	h2 + p {
		margin-bottom: 35px;
		max-width: 430px;
	}
}

#small_form {
	background: $color_a url(images/bg_small_form.jpg) no-repeat center / auto 100%;

	.page_width {
		color: #fff;
		padding-top: 47px;
		padding-bottom: 20px;
	}

	h2 {
		color: #fff;
	}

	a {
		color: #fff;
		//text-decoration: underline;
	}

	.text {
		float: left;
		margin-right: 30px;
	}
	.input_text {
		max-width: 395px;
	}
	.form_block {
		max-width: 585px;
		float: right;

		button[type=submit] {
			color: $color_a;
			background-color: #fff;
			font-size: 14px;
			font-weight: 500;
		}
	}
	.input_text {
		width: calc(100% - 220px);
		margin-right: 30px;
	}

	input[type=checkbox]:not(checked) + label {
		font-size: 13px;
		margin-bottom: 10px;

		&::before {
			border: 1px solid #fff;
			background-color: transparent;
		}
		&::after {
			border-color: #fff;
		}
	}
	input[type=checkbox]:checked + label {
		&::before {
			//background-color: #fff;
			opacity: 0.7;
		}
	}
	.input_text label, .textarea label {
		color: #7089A4;
		font-size: 14px;
		top: 13px;
	}
	.form_block .input_text input[type=text]:focus + label, 
	.form_block .input_text input[type=text].filled_field + label, .form_block .input_text textarea:focus + label, 
	.form_block .input_text textarea.filled_field + label, .form_block .textarea input[type=text]:focus + label, 
	.form_block .textarea input[type=text].filled_field + label, .form_block .textarea textarea:focus + label, .form_block .textarea textarea.filled_field + label {
		font-size: 8px;
		top: 7px;
	}
	.form_block .uformTools {
		margin-bottom: 10px;
	}
	.form_block input[type=text] {
		font-size: 14px;
	}

}

.form_block {
	//min-height: 100%;
	max-width: 478px;
	margin: 0 auto;
	overflow: hidden;

	form {
		margin: 0 -10px;
		font-size: 14px;
		line-height: 17px;
	}

    .input_text {
		width: calc(50% - 20px);
		clear: left;
		float: left;
		margin: 0 10px 15px;
		position: relative;
	}
	.input_text, .textarea {
		label {
			display: block;
			position: absolute;
			z-index: 2;
			top: 15px;
			left: 14px;
			font-size: 12px;
			line-height: 15px;
			font-weight: 400;
			color: $color_text;
			@include transition(all);
		}

		input[type="text"]:focus + label, 
		input[type="text"].filled_field + label, 
		textarea:focus + label, 
		textarea.filled_field + label {
			font-size: 8px;
			line-height: 10px;
			top: 7px;
			color: #7089A4;
		}
	}
	.textarea {
		margin-left: calc(50% + 10px);
		margin-right: 10px;
		position: relative;
		margin-bottom: 15px;
	}
	


    input[type="text"], textarea {
		padding: 15px 14px 5px 14px;
		height: 40px;
		width: 100%;
		max-width: 100%;
		background: #FFFFFF no-repeat 20px center;
		border: 1px solid #CFDBE7;
		box-sizing: border-box;
		//border-radius: 10px;
		color: $color_text;
		font-family: $font_family_os;
		font-size: 12px;
		line-height: 18px;
		font-weight: 400;
		vertical-align: top;
		position: relative;
		z-index: 1;
		
		&::-webkit-input-placeholder {opacity: 0.5; color: #333333;}
		&::-moz-placeholder          {opacity: 0.5; color: #333;}/* Firefox 19+ */
		&:-moz-placeholder           {opacity: 0.5; color: #333;}/* Firefox 18- */
		&:-ms-input-placeholder      {opacity: 0.5; color: #333;}

		&:active, &:focus {
			border: 1px solid #134983;
		}
    }
    textarea {
		height: 150px;
		width: 100%;
		line-height: 22px;
		//padding-top: 20px;
		resize: none;
    }
    
    .input_file {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-right: 16px;
		//margin-left: 0px;
		margin-bottom: 30px;
		margin-left: 10px;
    }
    
    input[type="file"] {
		position: absolute;
		z-index: 0;
		opacity: 0;
	}
	
	input[type="file"] +label {
		position: relative;
		z-index: 2;
		font-weight: 500;
		height: 40px;
		line-height: 38px;
		margin-bottom: 10px;
		
		&::before {
			content: '+';
			display: inline-block;
			width: 16px;
			height: 16px;
			vertical-align: middle;
			margin-right: 4px;
			font-size: 30px;
			font-weight: 400;
			line-height: 16px;
		}

		&::after {
			display: none;
		}
	}
	
	#file_name {
		color: #134983;
		width: 100%;
		//overflow: hidden;
		margin-right: -1000px;
	}
    
    .check {
		position: relative;
    }

    input[type="radio"], input[type="checkbox"] {
		width: auto;
		height: auto;
		margin-bottom: 0;
		opacity: 0;
		margin-left: -2px;
		position: absolute;
		margin-right: 0;
    }

    input[type="checkbox"]:not(checked) + label {
		position: relative;
		cursor: pointer;
		margin: 6px 10px 35px;
		padding-left: 20px;
		display: inline-block;
		text-align: left;
		font-size: 12px;
		line-height: 17px;
		@include transition(all);
		
		&:before {
			content: '';
			width: 8px;
			height: 8px;
			background: #fff;
			border: 1px solid $color_a;
			box-sizing: border-box;
			//border-radius: 2px;
			position: absolute;
			left: 0px;
			top: 4px;
		}
		
		&:after {
			content: '';
			width: 8px;
			height: 3px;
			position: absolute;
			left: 1px;
   			top: 3px;
			@include transition(all);
            opacity: 0;
            border-left: 2px solid $color_text;
            border-bottom: 2px solid $color_text;
            transform: rotate(-45deg);
		}

		&:hover {
			opacity: 0.8;
		}
    }
    input[type="checkbox"]:checked + label {
		// &:before {
		// 	background-color: $color_a;
		// }
		&:after {
			opacity: 1;
		}
	}
	
	a {
		color: $color_text;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
    
    .feedback-form-bot {
		padding-top: 5px;
		position: relative;
		margin-top: 18px;
		float: left;
		text-align: left;
		font-size: 14px;
		line-height: 19px;
    }


    .uformTools {
		display: inline-block;
		vertical-align: middle;
		margin-top: 0px;
		padding-bottom: 0px;
		margin-right: 10px;
		margin-bottom: 30px;
		.uFormButton {
			float: none;
			padding: 0;
			width: auto;
		}
	}
    
    button[type="submit"], button[type="reset"], .gUniForm .uFormSubmit, .gUniFormSuccessButton {
	    margin-right: 0;
	    //margin-bottom: 20px;
	    padding: 0 22px 0 22px;
	    width: auto; //calc(33.3% - 13px);
	    height: 40px;
	    line-height: 40px;
	    font-family: $font_family_os;
	    font-size: 16px;
		font-weight: 500;
		//letter-spacing: 0.05em;
	    background: $color_a;
	    color: #fff;
	    cursor: pointer;
	    box-sizing: border-box;
	    @include transition(all);
	    border: 0;
	    //border-radius: 10px;
	    text-align: center;
	    position: relative;
	    vertical-align: middle;
		//text-decoration: none;
		//float: right;
	    
	    // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	    // -webkit-tap-highlight-color: transparent; 
	
		&:hover {
			background: $color_a_hover;
		}
		
		// &:focus {
		// 	background: #72A2FF;
		// }

		&::after {
			display: none
		}
    }
}


.mini_email_block{
    margin-top: 90px;
    margin-bottom: 100px;
    max-width: 100%;
    p{
        text-align: center;
        width: 100%;
    }

    form{
        //width: 100%;
        text-align: center;
        .input_text{
            margin: 0 auto;
            float: none;
            max-width: 730px;;
            input{
                width: calc(100% - 60px);
                height: 50px;
                margin-right: -5px;
            }
            button{
                height: 50px;
                width: 60px;
                margin-left: 0px;

                img{
                    vertical-align: middle;
                    margin-bottom: 2px;
                }
            }
        }
    }
        
}

@media screen and (max-width: 1600px) {
    #main_form {
	
		.image {
			width: 45%;
		}
	
		.page_width {
			margin-left: 45%;
	
			&::before, &::after {
				width: 133/1480*1.4*100%;
			}
			&::after {
				left: -133/1480*1.4*100%;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
    #main_form {
	
		.image {
			width: 40%;
		}
	
		.page_width {
			margin-left: 40%;
			padding-top: 60px;
    		padding-bottom: 20px;
	
			&::before, &::after {
				width: 133/1480*1.3*100%;
				top: 70px;
			}
			&::after {
				left: -133/1480*1.3*100%;
			}
		}
	}
}
@media screen and (max-width: 1200px) {
    #main_form {
		.form_block {
			padding: 0 0 0 20px;
		}
	}
	#small_form {
		.text {
			float: none;
			margin-right: 0px;
		}
		.form_block {
			float: none;
			margin-left: 0;
			form {
				margin: 0;
			}
			.input_text {
				float: left;
				margin-right: 10px;
				width: calc(100% - 175px);
				margin-left: 0;
			}
			button[type=submit] {
				padding: 0 15px 0 15px;
			}
			
			input[type=checkbox]:not(checked) + label {
				margin: 0px 0px 20px; 
			}
		}
		
	}
}

@media screen and (max-width: 1100px) {
    #main_form {
	
		.image {
			width: 35%;
		}
	
		.page_width {
			margin-left: 35%;
	
			&::before, &::after {
				width: 133/1480*1.2*100%;
			}
			&::after {
				left: -133/1480*1.2*100%;
			}
		}
	}
}

@media screen and (max-width: 1030px) {
	#main_form {
	
		.image {
			width: 22.5%;
		}
	
		.page_width {
			margin-left: 22.5%;
	
			&::before, &::after {
				width: 133/1480*1.2*100%;
			}
			&::after {
				left: -133/1480*1.2*100%;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	#main_form {
		.page_width {
	
			&::before, &::after {
				width: 133/1480*100%;
			}
			&::after {
				left: -133/1480*100%;
			}
		}
	}
}
@media screen and (max-width: 800px) {
	#main_form {
		.page_width {
	
			&::before, &::after {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 600px) {
    #main_form {
		.image {
			display: none;
		}
		.page_width {
			margin-left: 0;
			padding-top: 30px;
			padding-bottom: 10px;
		}
	}
	.form_block .textarea {
		margin-left: 10px;
	}
	.form_block .input_text {
		width: calc(100% - 20px);
		float: none;
	}
	.form_block input[type=checkbox]:not(checked) + label {
		margin-bottom: 20px;
	}
	.form_block .input_file {
		margin-right: 20px;
		margin-left: 10px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 470px) {
	.form_block .input_file {
		width: 195px;
		margin: 0 auto 20px;
		display: block;
	}
	.form_block .uformTools {
		display: block;
		margin-right: 0;
		text-align: center;
	}
}
@media screen and (max-width: 400px) {
	#small_form .form_block {
		.input_text {
			float: none;
			margin-right: 0px;
			width: 100%;
		}
	}
}

/* end forms styles */