 /* start header styles */

header.scroll {
    box-shadow: 10px 10px 20px rgba(36, 70, 122, 0.25);
}

header {
    width: 100%;
	position: relative; //fixed;
	top: 0;
    //color: #fff;
    z-index: 3;
	//padding-bottom: 1px;
	background-color: #fff;
	@include transition(all);

    .page_width {
		z-index: 1;
    }
}

#logo {
	width: 195px;
	
	a {
	    @include transition(opacity);
	}
        
        a:hover {
            opacity: 0.9;
        }
	
	img {
		max-width: 100%;
		position: relative;
	}
}

header #basket {
	width: 35px;

	.num {
		background-color: #DFEAF4;
		color: $color_text;
		border-radius: 50%;
		font-size: 11px;
		line-height: 26px;
		vertical-align: middle;
		width: 24px;
		height: 24px;
		position: absolute;
		top: -11px;
		right: -3px;
		text-align: center;
		@include transition(all);
	}
}

header .button {
	//min-width: 166px;
	height: 27px;
	line-height:27px;
	font-size: 14px;
	padding: 1px 14px;

	&::after {
		display: none;
	}
}

header .search {
	position: relative;
	//width: 20px;
	height: 30px;
	box-sizing: border-box;
	z-index: 3;
	//background-color: rgba(255, 255, 255, 0.6);

	.search_button {
		position: absolute;
		width: 30px;
		height: 30px;
		top: 18px;
		left: 40px;
		z-index: 5;

		&::before, &::after {
			content: '';
			position: absolute;
			top: 50%;
			width: 100%;
			border-top: 1px solid $color_a;
			opacity: 0;
			@include transition(all);
		}
		&::before {
			transform: rotate(0deg);
		}
		&::after {
			transform: rotate(0deg);
		}
	}
    
    form {
		width: 100%; //30px;
		height: 30px;
		box-sizing: border-box;
		position: relative;
		@include transition(all);
	}
    
    input[type=text] {
		background: none;
		border: 1px solid transparent;
		color: $color_text;
		font-family: $font_family_os;
		font-size: 12px;
		line-height: 15px;
		height: 30px;
		box-sizing: border-box;
		// position: relative;
		// z-index: 1;
		padding: 5px 40px 5px 17px;
		width: 100%;
		vertical-align: middle;
		//border-radius: 10px;
		//opacity: 0;
		@include transition(all);

		&::placeholder {
			color: $color_text_alt;
		}
    }
    
    input[type=image] {
        border: 0;
        color: transparent;
        height: 14px;
        width: 14px;
        //background: url(images/icon_loupe.png) center no-repeat;
		position: absolute;
		right: 10px;
		top: 7px;
        z-index: 2;
        vertical-align: top;
		cursor: pointer;
		margin-left: 10px;
		margin-right: -2px;
		cursor: pointer;
	}
}


header .language {
	display: flex;
	flex-wrap: wrap;
	width: 45px;
	height: 27px; 
	float: left;
	margin-top: 14px;
	margin-left: -7px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	//overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		right: 7px;
		top: 50%;
		margin-top: -5px;
		border-top: 4px solid $color_text;
		border-left: 3px solid transparent;
		border-right: 2px solid transparent;
		@include transition(all);
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		cursor: pointer;

	}

	.lang_item {
		width: 100%;
		opacity: 0;
		pointer-events: none;
		padding: 5px 7px;
		@include transition(all);

		&.active {
			order: -1;
			opacity: 1;
		}
	}

	&.show {
		.lang_item {
			opacity: 1;
			pointer-events: initial;
			background-color: $color_a; // //#CFDBE7
			color: #fff;
		}

		&::after {
			transform: rotate(-180deg);
			border-top-color: #fff;
		}
	}

}

.header_contacts .contacts {
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
		border-left: 1px solid #EAEAEA;
	}

	.col {
		padding: 20px 7% 15px 7%;
		// margin-bottom: -8px;
		width: 50%;
		box-sizing: border-box;
		// text-align: justify;
		column-count: 2;
		column-gap: 30px;

		// &::after {
		// 	content: '';
		// 	display: inline-block;
		// 	width: 80%;
		// }
		// &:last-child {
		// 	padding-left: 8.3%;
    	// 	padding-right: 9.5%;
		// }
	}
	span,a {
		display: inline-block;
		margin-bottom: 3px;
	}
	span {
		min-width: 130px;
	}
	.email {
		font-size: 14px;
	}
}


@media screen and (min-width: 1030px) {	
header {
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 50px;
		//opacity: 0;
		background-color: #CFDBE7;
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 61px;
		//opacity: 0;
		background-color: $color_a;
	}
}  

#logo {
	position: absolute; //relative;
	top: 83px; //50%;
	margin-top: -10px;
}

header #basket {
	position: absolute; //relative;
	top: 84px;
    right: 129px;
}

header .button {
	position: absolute; //relative;
	top: 80px;
    right: 228px;
}

header .search {
	position: relative;
	top: 11px;
	//width: 20px;
	height: 30px;
	margin: 0 690px -30px 85px;
	box-sizing: border-box;
	z-index: 3;
	background-color: rgba(255, 255, 255, 0.6);

	.search_button {
		display: none;
	}
    
    form {
		width: 100%; 
		height: 30px;
	}
    
    input[type=text] {
		height: 30px;
    }
    
    input[type=image] {
		right: 10px;
		top: 7px;
	}
	
}


.header_main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.top_menu {
		order: 0;
		width: 610px;
		margin-right: 12px;
		padding-top: 17px;
		height: 50px;
		box-sizing: border-box;
	}

	.header_contacts {
		order: 1;
		//width: 80%;
		margin: 0 326px 0 210px;
	}
	.bottom_menu {
		order: 2;
		width: 100%;
	}
	.menu {
		.back {
			display: none;
		}
	}

	ul ul {
		opacity: 0;
		
		ul {
			opacity: 1;
		}
	}

	.submenu > ul{
		opacity: 0;
		position: absolute;
		//background-color: #fff;
		box-sizing: border-box;
		display: block;
		min-width: 100%;
		z-index: 1;
		left: 0;//right: -50%;
		top: 100%; //150%;
		box-shadow: 10px 10px 20px rgba(36, 70, 122, 0.25);
		padding: 20px 0;
		pointer-events: none;
		@include transition(all);

		&::before {
			content: '';
			position: absolute;
			top: -5px;
			right: 10%;
			border-bottom: 5px solid #fff;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			@include transition(all);
			display: none;
		}

		li {
			display: block;
			font-weight: 500;
		}

		a {
			display: block;
			padding: 7px 40px 7px 50px;
			position: relative;
			white-space: nowrap;
			@include transition(all);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 4px;
				height: 100%;
				background: #134983;
				opacity: 0;
				@include transition(all);
			}

			&::after {
				content: "";
				display: inline-block;
				margin-left: 10px;
				opacity: 0;
				width: 16px;
				height: 11px;
				background: url(images/arrow_blue.svg) no-repeat right center;
				@include transition(all);
			}
		}

		li.active {
			a {
				background-color: rgba(19, 73, 131, 0.2);
				text-decoration: none;
				&::before {
					opacity: 1;
				}
			}
		}
		a:hover {
			background-color: rgba(19, 73, 131, 0.2);
			text-decoration: none;
			&::before {
				opacity: 1;
			}
			&::after {
				opacity: 1;
			}
		}
	}
	.submenu:last-child > ul{
		right: 0;

		&::before {
			right: 0;
		}
	}
	.submenu:hover > ul{
		opacity: 1;
		pointer-events: initial;
		background-color: #fff;
	}

}

.top_menu {
	ul {
		display: flex;
		justify-content: space-between;

	}
	li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	a {
		color: $color_text;

		&:hover {
			text-decoration: none;
		}
	}

	.icon {
		vertical-align: text-bottom;
		margin-right: 5px;
	}
	.submenu {
		&::before {
			content: '';
			position: absolute;
			top: 99%;
			width: 100%;
			height: 100%;
			left: 0;
		}
	}
	.submenu > ul{ 
		top: 150%;
		left: auto;
		right: -50%;

		&::before {
			display: block;
		}
	}
	
}

.bottom_menu {
	.menu {
		display: flex;
		position: relative;
		padding-right: 20px;
		justify-content: stretch;
	}

	> ul >li {
		flex-grow: 1;
		position: relative;
		> a {
			color: #fff;
			display: block;
			height: 61px;
			box-sizing: border-box;
			padding: 21px 5%;
			white-space: nowrap;
			text-align: center;

			&:hover {
				text-decoration: none;
			}
		}

		&.active, &:hover {
			background-color: #336BA7;
		}
	}

	.submenu > ul{ 
		padding-top: 37px;
		padding-bottom: 37px;
		//opacity: 1;
		li {
			text-align: left;
		}
		
		a {
			color: $color_text;
		}
	} 

	.catalog {
		position: static;
		a {
			&::before {
			content: "";
			display: inline-block;
			vertical-align: -2px;
			margin-right: 21px;
			width: 19px;
			height: 12px;
			background: linear-gradient(#fff 2px, transparent 2px);
			background-size: 100% 5px;
			}
		}

		> ul {
			opacity: 0;
			height: calc(100vh - 220px);
			overflow-y: auto;
			overflow-x: hidden;
			//background: none;
			padding-left: 94px;
			padding-right: 94px;
			width: 100%;

			> li {
				position: relative;
				//padding-bottom: 44px;
				margin-bottom: 44px;
				&:last-child {
					margin-bottom: 0px;
					&::after {
						display: none;
					}

					li {
						margin-bottom: 20px;
					}
				}
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: -25%;
					width: 150%;
					border-bottom: 1px solid #CFDBE7;
				}
				> a {
					text-transform: uppercase;
					font-size: 18px;
					padding: 0;
					display: inline-block;
					&::before {
						display: none;	
					}

					&:hover {
						background: none;
					}
				}
			}

			ul {
				padding-top: 23px;
				min-width: auto;
				column-count: 3;
				column-gap: 100px;
				width: auto;

				li {
					display: inline-block;
				}

				.icon {
					margin-right: -35px;
					background-color: #fff;
					position: relative;
					z-index: 1;
				}

				a {
					white-space: normal;
					padding: 0;
					display: inline-block;
					
					&::before {
						display: none;	
					}

					&::after {
						margin-right: -30px;
					}

					&:hover {
						background: none;
					}
				}
				.section_name {
					display: none;
				}

				ul {
					column-count: auto;
					column-gap: 0;
					padding-top: 7px;
					padding-bottom: 20px;
					li {
						margin-bottom: 20px;
						display: block;
					}
				}
			}
		}

	}
	
}


}

@media screen and (max-width: 1600px) and (min-width: 1030px) {	
	.header_contacts .contacts .col {
		padding: 20px 2% 20px 3%;
		column-gap: 20px;
	}
}

@media screen and (max-width: 1400px) and (min-width: 1030px)  {
	header #basket {
		right: 70px;
	}
	header .button {
		right: 130px;
	}
	.header_main .header_contacts {
		margin-right: 240px;
	}
	.header_contacts .contacts .col {
		padding: 20px 2% 20px 2%;
		column-gap: 5px;
	}
}

@media screen and (max-width: 1300px) and (min-width: 1030px)  {
	.bottom_menu .catalog > ul {
		padding-left: 40px;
		padding-right: 40px;
	}
	.bottom_menu .catalog > ul ul {
		column-gap: 50px;
	}
	.bottom_menu .catalog > ul ul {
		ul {
			padding-bottom: 10px;
			li {
				margin-bottom: 15px;
				display: block;
			}
		}
	} 
}

@media screen and (max-width: 1200px) and (min-width: 1030px)  {
	.header_contacts .contacts{
		.col {
			columns: auto;
		}
		span, a {
			&:last-child {
				display: none;
			}
		}
		.email {
			display: none;
		}
	} 
	.header_main .header_contacts {
		width: 50%;
		max-width: 550px;
		margin-right: auto;
		margin-left: auto;
	}
	header #basket {
		right: 50px;
	}
	header .button {
		right: 110px;
	}
}

@media screen and (max-width: 1030px) {	
	header {
		border-bottom: 1px solid #CFDBE7;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

		&.scroll {
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		}
		.page_width {
			padding-top: 14px;
			padding-bottom: 14px;
			height: 72px;

			&::after {
				content: '';
				float: right;
				height: 72px;
				border-right: 1px solid #CFDBE7;
				clear: none;
			}
		}
	}
	#logo {
		margin: 13px 20px 0px 0;
		width: 195px;
		float: left;
		position: relative;
	}
	header #basket {
		float: right;
		margin: 22px 10px 15px 40px;
		position: relative;

		img {
			width: 27px;
		}
	}
	header .button {
		float: right;
	}

	header .search {
		float: right;
		width: 100px;
		height: 72px;
		border-left: 1px solid #CFDBE7;
		border-right: 1px solid #CFDBE7;
		//margin-left: 40px;
		padding-top: 13px;
		padding-left: 30px;
		//background-color: rgba(255, 255, 255, 0.6);
	
		.search_button {
			display: block;
		}
		
		form {
			width: 30px;
			height: 40px;
			left: 0;
		}
		input[type=text] {
			height: 40px;
			padding-left: 50px;
			padding-right: 50px;
			font-size: 16px;
		}
		
		input[type=image] {
			height: 23px;
			width: 23px;
			left: 0;
			top:10px;
		}
		
		&.active {
			form {
				left: -255px;
				width: 300px;
				//background-color: #fff;
				background: #CFDBE7;
				border-color: $color_a;
				box-shadow: 10px 10px 20px rgba(36, 70, 122, 0.25);
			}
			input[type=text] {
				opacity: 1;
				background: rgba(255, 255, 255, 0.6);
			}
			.search_button {
				&::before, &::after {
					opacity: 1;
				}
				&::before {
					transform: rotate(45deg);
				}
				&::after {
					transform: rotate(-45deg);
				}
			}
		}
	}
	.menu_btn {
		float: right;
		width: 24px;
		height: 25px;
		margin: 17px 40px 20px;
		position: relative;
		top: 7px;
		display: block;
		//border-top: 1.3px solid #0A2A4F;

		&::before, &::after {
			content: '';
			position: absolute;
			width: 100%;
			border-top: 1.3px solid #0A2A4F;
			left: 0;
			@include transition(all);
		}
		&::before{
			top: 0px;
			height: 6px;
			border-bottom: 1.3px solid #0A2A4F;
		}
		&::after {
			top: 16px;
		}

		&.active {
			border-color: transparent;
			&::before{
				top: 9px;
				height: 0;
				border-bottom: 0;
				transform: rotate(45deg);
			}
			&::after {
				top: 10px;
				transform: rotate(-45deg);
			}
		}
	}

	.header_main {
		position: absolute;
		display: none;
		top: 104%;
		background-color: #fff;
		width: 100%;
		left: 0;
		padding-top: 25px;
		max-height: calc(100vh - 135px);
		overflow: auto;
		box-shadow: 10px 10px 20px rgba(36, 70, 122, 0.25);

		.top_menu {
			clear: both;
		}

		.language {
			margin-left: 23px;
			margin-top: 0;
		}
		.button {
			margin-right: 30px;
			margin-bottom: 14px;
		}
		.menu {
			overflow: hidden;
			.back {
				display: none;
			}

			li {
				position: relative;
				border-bottom: 1px solid #CFDBE7;
			}
			a {
				display: block;
				padding: 11px 30px;
				color: $color_text;
				position: relative;
				z-index: 1;

				&:hover {
					text-decoration: none;
				}
			}
		}
		.submenu {
			.back {
				position: absolute;
				display: block;
				right: 30px;
				top: 16px;
				width: 8px;
				height: 8px;
				border-left: 2px solid $color_a;
				border-bottom: 2px solid $color_a;
				color: transparent;
				transform: rotate(-45deg);
				@include transition(all);
				&::before {
					content: '';
					position: absolute;
					width: 50px;
					height: 50px;
					top: -25px;
					left: -25px;
				}
			}
			&.show {
				.back {
					z-index: 2;
					transform: rotate(-225deg);
				}
			}
			> a {
				&::after {
					content: "";
					display: inline-block;
					margin-left: 10px;
					opacity: 0;
					width: 16px;
					height: 11px;
					background: url(images/arrow_blue.svg) no-repeat right center;
					opacity: 0;
					@include transition(all);
				}
			}

			&.show {
				> a {
					&::after {
						opacity: 1;
					}
				}
			}
			
			ul {
				//padding-bottom: 20px;
				display: none;
				li {
					border-bottom-color: #fff;
					font-size: 14px;
				}
				// a {
				// 	//padding: 7px 58px;
				// 	padding-top: 6px;
				// 	padding-bottom: 6px;
				// }
			}
		}
	}
	.top_menu {
		background-color: #EEF5F9;
		.icon {
			vertical-align: text-top;
			margin-right: 5px;
		}
		.menu {
			li {
				border-bottom-color: #fff;
			}
		}
	}
	.bottom_menu {
		a {
			font-weight: 600;
		}

		ul ul {
			a {
				font-weight: 400;
			}
		}
		.catalog {
			a {
				font-weight: 600;
			}
			>ul > li {
				>a {
					text-transform: uppercase;
				}

				&:last-child {
					ul a {
						font-weight: 400;
					}
				}
			}
			img {
				max-width: 40px;
				max-height: 30px;
				object-fit: contain;
				vertical-align: middle;
				margin-right: 6px;
			}
			
			ul ul {
				//padding-left: 20px;
				//padding-bottom: 20px;
				display: block;

				ul {
					li {
						border-bottom: none;
					}
					a {
						font-weight: 400;
						padding-top: 6px;
						padding-bottom: 6px;
					}
				}
			}
		}
	}

	.header_contacts {
		.contacts {
			border: none;
			border-bottom: 1px solid #CFDBE7;
			.col {
				padding: 20px 30px 20px 30px;

			}
		}
		.social {
			display: block;
			padding: 30px 30px 10px;
			text-align: center;

			a {
				display: inline-block;
				margin: 0 15px 20px;
				vertical-align: middle;
			}
		}
	}
}

@media screen and (max-width: 800px) {	
	.header_contacts {
		.contacts {
			border: none;

			&::before {
				display: none;
			}
			.col {
				width: 100%;
				//padding: 20px 30px 20px 30px;
				border-bottom: 1px solid #CFDBE7;
				column-gap: 40%;
			}
		}
	}
}

@media screen and (max-width: 1030px) and (min-width: 600px) {
	.header_main .submenu {
		ul {
			padding-bottom: 20px;
		}
		ul li {
			border-bottom: 0;
		}
		ul a {
			padding-top: 6px;
			padding-bottom: 6px;
		}

		// .back {
		// 	position: absolute;
		// 	display: block;
		// 	right: 30px;
		// 	top: 16px;
		// 	width: 8px;
		// 	height: 8px;
		// 	border-left: 2px solid $color_a;
		// 	border-bottom: 2px solid $color_a;
		// 	color: transparent;
		// 	transform: rotate(-45deg);
		// 	@include transition(all);
		// 	&::before {
		// 		content: '';
		// 		position: absolute;
		// 		width: 50px;
		// 		height: 50px;
		// 		top: -25px;
		// 		left: -25px;
		// 	}
		// }
		// &.show {
		// 	.back {
		// 		z-index: 2;
		// 		transform: rotate(-225deg);
		// 	}
		// }
	}

	.bottom_menu .catalog ul ul {
		padding-left: 20px;
		padding-bottom: 20px;
	}
	
}

@media screen and (max-width: 600px) {
	header .page_width {
		padding-top: 0;
		padding-bottom: 0;
	}
	#logo {
		width: 150px;
		margin-top: 23px;
	}
	header #basket {
		margin: 22px 0px 15px 15px;
	}
	header .search {
		width: 60px;
		padding-left: 10px;
		.search_button {
			top: 20px;
			left: 15px;
		}
	}
	.menu_btn {
		margin: 20px 20px 20px;
	}
	.header_main .menu a {
		padding: 11px 20px;
	}
	.header_main .submenu {
		ul {
			background-color: #EEF5F9;
		}

		// .back {
		// 	width: 0px;
		// 	font-size: 21px;
		// 	display: block;
		// 	float: left;
		// 	position: relative;
		// 	z-index: 2;
		// 	margin-top: 11px;
		// 	padding-left: 20px;
		// 	box-sizing: border-box;
		// 	font-weight: bold;
		// 	@include transition(all);
		// 	// &::before {
		// 	// 	content: '';
		// 	// 	position: absolute;
		// 	// 	width: 50px;
		// 	// 	height: 50px;
		// 	// 	top: -25px;
		// 	// 	left: -25px;
		// 	// }
		// }
		// &.show {
		// 	.back {
		// 		width: 60px;
		// 	}
		// }
	}
	.header_contacts .contacts .col {
		column-gap: 15%;
		padding: 20px 20px 20px 20px;
	}
}

@media screen and (max-width: 450px) {
	header .page_width {
		height: 60px;
		margin-top: -5px;

		&::after {
			height: 60px;
		}
	}
	#logo {
		width: 130px;
		margin-top: 20px;
	}
	header #basket {
		margin: 22px 0px 15px 10px;
		img {
			width: 22px;
		}
	}
	header .search {
		width: 40px;
		padding-left: 0px;
		height: 60px;
		.search_button {
			top: 20px;
			left: 5px;
			width: 25px;
			height: 25px;
		}
		input[type=text] {
			padding-left: 35px;
			padding-right: 35px;
			font-size: 14px;
		}
		input[type=image] {
			height: 19px;
			width: 19px;
		}
		&.active form {
			left: -165px;
			width: 200px;
		}
	}
	.menu_btn {
		margin: 17px 10px 20px;
	}
	.header_main {
		max-height: calc(100vh - 95px);
		overflow: auto;
	}
}
@media screen and (max-width: 400px) {
	.header_contacts .contacts .col {
		column-gap: 10px;
		font-size: 14px;
		//column-count: auto;
		padding: 10px 20px 10px 20px;

		// span, a {
		// 	display: inline;
		// }
	}
}




/* end header styles */
