/* start main screen styles */ 

#main_screen {
    overflow: hidden;
    background: #162637 url(images/bg_main_screen.jpg) no-repeat left top / cover;
	height: calc(100vh - 258px);
	min-height: 677px; //430px;
    //@include transition(all);
    
    .page_width {
		height: 100%;
		//padding-top: 130px;
    }
    
    
    // .image {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	@include transition(all);
	// 	//opacity: 0.2;
	// 	overflow: hidden;
		
	// 	img {
	// 		width: 110%;
	// 		height: 110%;
	// 		object-fit: cover;
	// 		position: absolute;
	// 		left: -5%;
	// 		bottom: -5%;

	// 	}
    // }
    .text {
		//width: 50%;        
		max-width: 730px;
		position: relative;
		top: 23.3%;
		padding-bottom: 1px;
		z-index: 2;
		color: #fff;
    }
    h1 {
		letter-spacing: 0.01em;
		font-size: 40px;
		line-height: 56px; 
		margin-bottom: 25px;
		text-align: left;
		color: #fff;
    }
    
    .button {
		// min-width: 173px;
		margin-bottom: 72px;
		// height: 50px;
		// line-height: 48px;
    }
    
    p {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 60px;
		max-width: 600px;
		//text-align: left;
		letter-spacing: 0.01em;
    }
    
}


// @media screen and (min-width: 1400px) {
//     #main_screen {
// 		h1 {
			     
// 		}
// 	}
// }
@media screen and (max-width: 1400px) {
	#main_screen {
		.text {       
			top: 13.3%;
		}
	}
}

@media screen and (max-width: 1030px) {
	#main_screen {
		min-height: 677px;
		.text {
			top: 23.3%;
		}
	}
}

// @media screen and (max-width: 800px) {
// 	// #main_screen {
		
// 	// }
// }
@media screen and (max-width: 800px) {
    #main_screen {
		min-height: 450px;
		h1 {
			font-size: 30px;
			line-height: 42px; 
			letter-spacing: 0px;        
		}
		.text {
			top: 13.3%;
			max-width: 630px;
		}
	}
}

@media screen and (max-width: 600px) {
    #main_screen {
		.text {
			top: 10%;
			padding: 0 17px;
		}
		p {
			margin-bottom: 30px;
		}
	}
}

/* end main screen styles */