/* start projects styles */ 

#projects {
    .page_width {
        padding-top: 74px;
        padding-bottom: 68px;
    }
}

.projects {
    .slick-list {
        padding: 16px 10px 30px;
        margin: 0 -20px;
    }

    .item {
        position: relative;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 1);
        height: 453px;
        width: calc(25% - 20px);
        //padding: 23px 40px 40px;
        margin: 0 10px;
        box-shadow: -10px 10px 20px rgba(19, 73, 131, 0.2);
        opacity: 0;
        @include transition(all);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0px;
            background: #134983;
            @include transition(all);
        }

        .image {
            position: relative;
            height: 354px;
            background-color: rgb(239, 244, 250);
            overflow: hidden;
            margin-bottom: 14px;
            @include transition(all);

            a {
                display: block;
                width: 100%;
                height: 100%;
                    position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //@include transition(all);
            }

            .button {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 60px;
                line-height: 58px;
                opacity: 0;
                margin: -30px 0 0 -83px;
                @include transition(all);
            }
        }
        .text {
            overflow: hidden;
            max-height: 169px;
            padding: 0px 17px 20px;
        }
        time {
            color: #7089A4;
            font-size: 12px;
            line-height: 15px;
            font-weight: 400;
            display: block;
            margin-bottom: 4px;
        }
        p {
            margin-bottom: 0;
        }

        .slick-arrow {
            margin-top: -63px;
        }

        &.slick-active {
            opacity: 1;
        }

        &:hover {
            box-shadow: 0px 0px 0px rgba(19, 73, 131, 0.0);
            
            &::after {
                height: 6px;
            }

            .button {
                opacity: 0.9;
            }
        }
    }
}
    


// @media screen and (min-width: 1400px) {
    
// }
// @media screen and (max-width: 1400px) {
	
// }

@media screen and (max-width: 1030px) {
	#projects {
        .page_width {
            padding-top: 20px;
            padding-bottom: 68px;
        }
    }
}

@media screen and (max-width: 800px) {
	.projects .item {
        font-size: 14px;
        height: 425px;
        .image {
            height: 330px;
        }
    }
}
@media screen and (max-width: 600px) {
    #projects {
        .page_width {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 350px) {
    .projects .item {
        height: 350px;
        .image {
            height: 250px;
        }
    }
}


.project_page {
    position: relative;
}

.project_head {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 27px;

    .prev_link {
        order: 0;

        &::before {
            content: "";
            display: inline-block;
            margin-right: 12px;
            font-size: 21px;
            width: 20px;
            height: 11px;
            transform: rotate(180deg);
            background: url(images/arrow_blue.svg) no-repeat right center;
        }
    }
    h1 {
        order: 1;
        text-align: center;
        padding: 0 40px;
        margin-bottom: 0;
    }
    .next_link {
        order: 2;

        &::after {
            content: "";
            display: inline-block;
            margin-left: 12px;
            font-size: 21px;
            width: 20px;
            height: 11px;
            background: url(images/arrow_blue.svg) no-repeat right center;
        }
    }
    .prev_link, .next_link {
        white-space: nowrap;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;

        &:hover {
            text-decoration: none;
        }
    }
}

.project_page_sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .text, .galery {
        width: 50%;
        position: relative;
        box-sizing: border-box;
    }

    .text {
        padding-right: 10%;
        padding-bottom: 70px;
        font-size: 15px;
        line-height: 29px;
    }

    h2 {
        margin-bottom: 30px;
        .icon {
            display: inline-block;
            line-height: 74px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #EFF4FA;
            margin-bottom: -20px;
            margin-right: 35px;
            vertical-align: bottom;
            text-align: center;

            img {
                vertical-align: middle;
            }
        }
    }
}

.galery {
    padding-bottom: 95px;
    .main_slider {
        height: 409px;
        margin: 0 0 12px;
        padding: 0;

        .slick-list {
            margin: 0;
        }

        .item {
            height: 409px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .preview_slider {
        height: 93px;
        .slick-list {
            margin: 0 -10px;
        }

        .slick-arrow {
            margin-top: -10px;
        }
        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
        .item {
            height: 93px;
            margin: 10px 10px 20px;
            border: 1px solid #BECAD3;
            box-sizing: border-box;
            box-shadow: -3px 5px 10px rgba(19, 73, 131, 0.3);
            @include transition(all);
            &:hover {
                box-shadow: 0px 0px 0px rgba(19, 73, 131, 0);
            }
        }
    }
}

.gratitude {
    position: relative;
    display: flex;
    align-items: center;
    padding: 40px 0;

    &::before {
        content: '';
        position: absolute;
        width: 100vw;
        left: calc(-100vw/2 + 1480px/2 - 9px);
        top: 0;
        height: 100%;
        background-color: #EEF5F9;
    }

    > div {
        position: relative;
        z-index: 1;
    }


    .client_logo {
        width: 22%;
        //text-align: center;
        min-width: 225px;
        margin-right: 20px;

        img {
            max-width: 100%;
        }
    }

    .letter {
        width: 30%;
        margin-right: 20px;
        max-width: 245px;
        a {
            display: inline-block;
            margin-top: -64px;
            box-shadow: -10px 10px 20px rgba(19, 73, 131, 0.41);

            img {
                width: 100%;
            }
        }
    }

    .text {
        max-width: 586px;
        font-size: 15px;
        line-height: 29px;

        .button {
            margin-top: 25px;
            &::after {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1686px) {
    .gratitude {
        &::before {
            left: -107px;
        }
    }
}
@media screen and (max-width: 1412px) {
    .gratitude {
        &::before {
            left: -67px;
        }
    }
}
@media screen and (max-width: 1212px) {
    .gratitude {
        &::before {
            left: -47px;
        }
    }
}
@media screen and (max-width: 812px) {
    .gratitude {
        &::before {
            left: -37px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .project_head {
        flex-wrap: wrap;
        justify-content: space-between;
        h1 {
            width: 100%;
            order: 0;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .galery {
        .main_slider {
            height: 400px;
            .item {
                height: 400px;
            }
        }
    }
}


@media screen and (max-width: 1030px) {
    .galery {
        .preview_slider {
            .slick-list {
                margin: 0 -20px;
            }
        }
    }

    .project_page_sections .text {
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .gratitude {
        .client_logo {
            min-width: 150px;
        }
        .letter {
            width: 40%;
            min-width: 150px;
            a {
                margin-top: -10px;
            }
        }
        .text {
            line-height: 22px;
            .button {
                margin-top: 0px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .project_page_sections {
        justify-content: center;
        .text {
            padding-right: 0px;
            width: 100%;
            padding-bottom: 10px;
            .button {
                margin-top: 0px;
                margin-bottom: 30px;
            }
        }
        .galery {
            width: 90%;
        }
    }
}
@media screen and (max-width: 600px) {
    .galery {
        .main_slider {
            height: 300px;
            .item {
                height: 300px;
            }
        }
    }

    .project_page_sections h2 .icon {
        line-height: 54px;
        width: 60px;
        height: 60px;
        margin-bottom: -13px;
        margin-right: 20px;
        img {
            width: 50%;
            height: 50%;
            object-fit: contain;
        }
    }

    .gratitude {
        flex-wrap: wrap;
        .client_logo {
            width: 45%;
            margin-bottom: 30px;
            min-width: 130px;
        }
        .letter {
            width: 30%;
            margin-bottom: 30px;
            margin-right: 0;
            min-width: 130px;
        }
        .text {
            width: 100%;
        }
    }
}

/* end projects styles */