/* start production styles */ 

#production {
    //margin-top: -93px;
    
    .page_width {
        padding-top: 20px;
		padding-bottom: 70px;
    }
}

.production_catalog {
    padding-top: 7px;
        margin: 0 -10px 40px;
        display: flex;
        flex-wrap: wrap;
    
    .slick-list {
        padding: 10px 10px 30px;
        margin: 0 -20px;
    }

    .item {
        position: relative;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 1);
        height: 450px;
        width: calc(25% - 20px);
        //padding: 23px 40px 40px;
        margin: 0 10px 20px;
        
        font-size: 14px;
        line-height: 20px;
        //opacity: 0;
        text-align: center;
        overflow: hidden;
        @include transition(all);

        a:hover {
            text-decoration: none;
        }

        .img {
            position: relative;
            width: 100%;
            height: 380px;
            overflow: hidden;
            margin-bottom: 13px;
            @include transition(all);

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                //opacity: 0.5;
                @include transition(all);
            }
        }
        .info {
            overflow: hidden;
            //height: 50px;
            padding: 0 36px;

        }
        h5 {
            
            height: 50px;
            //overflow: hidden;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition(all);
            a {
                color: $color_text;
            }
        }

        .button {
            height: 40px;
            line-height: 38px;
            opacity: 0;

            &::after {
                display: none;
            }
        }

    }
}
    
.products {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    .item {
        position: relative;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 1);
        height: 360px;
        width: 20%;
        margin: 0 0px 20px;
        padding: 11px 35px;
        font-size: 11px;
        line-height: 16px;
        //opacity: 0;
        overflow: hidden;
        text-align: center;
        //box-shadow: -10px 10px 20px rgba(19, 73, 131, 0.2);
        @include transition(all);

        a:hover {
            text-decoration: none;
        }

        .novelty {
            position: absolute;
            right: 20px;
            top: 11px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: $color_a;
            border: 2px solid #EEF5F9;
            padding: 4px 12px;
            z-index: 1;
        }

        .img {
            position: relative;
            //width: 100%;
            height: 196px;
            overflow: hidden;
            margin-bottom: 13px;
            @include transition(all);

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                //opacity: 0.5;
                @include transition(all);
            }
        }
        .info {
            overflow: hidden;

        }
        h6 {
            height: 54px;
            overflow: hidden;
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 5px;
            @include transition(all);
            a {
                color: $color_text;
            }
            text-align: left;
        }
        .char {
            text-align: left;
            box-sizing: border-box;
            padding: 10px 0 0px;
            margin-bottom: 10px;
            height: 0px;
            @include transition(all);
            overflow: hidden;

            p {
                display: flex;
                justify-content: space-between;

            }

            .val {
                width: 80px;
                max-width: 70px;
            }
        }

        .button {
            height: 32px;
            line-height: 32px;

            &::after {
                display: none;
            }
        }
        &:hover {
            box-shadow: -10px 10px 20px rgba(19, 73, 131, 0.2);
            z-index: 2;
            height: 460px;
            margin-bottom: -80px;
            .char {
                height: 108px;
            }
        }

    }
}

.catalog_filter {
    margin-bottom: 38px;
    .filter_fieldset {
        display: inline-block;
        height: 40px;
        position: relative;
    }

    .heading {
        border: 2px solid transparent;
        box-sizing: border-box;
        height: 40px;
        padding: 10px 25px;
        font-size: 14px;
        line-height: 20px;
        color: $color_a;
        cursor: pointer;
        font-weight: 500;
        @include transition(all);

        .value {
            display: none;
            padding-right: 20px;
        }

        
    }
    .delete {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 10px;
        height: 20px;
        width: 20px;
        color: transparent;

        &::before, &::after {
            content: '';
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            top:40%;
            background-color: #fff;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    .show {
        .heading {
            border-color: $color_a;
        }
    }
    .selected {
        .heading {
            border: 2px solid $color_a;
            background-color: $color_a;
            color: #fff;
    
            .value {
                display: inline-block;
            }
    
            .delete {
                display: block
            }
        }
    }

    .filter_block {
        position: absolute;
        z-index: 3;
        top: 50px;
        left: 50%;
        margin-left: -226px;
        width: 453px;
        padding: 38px 55px 30px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 6px 10px 10px rgba(28, 37, 119, 0.25);
        display: none;
    }

    .filter_fieldset:first-child {
        .filter_block {
            left: 0;
            margin-left: 0;
        }
    }

    .h5 {
        text-align: center;
        padding: 0 0 38px;
        margin-bottom: 0;
    }

    .range_slide {
        padding: 0 0 15px;

        .range_values {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }

        .range_values_item {
            width: calc(50% - 12px);
            position: relative;
        }

        .minus {
            width: 6px;
            margin: 0 9px;
        }

        label {
            vertical-align: middle;
            position: absolute;
            top: 15px;
            left: 12px;
            font-size: 14px;
            line-height: 20px;
        }

        input[type=text] {
            width: 100%;
            height: 40px;
            border: 1px solid #CFDBE7;
            padding: 15px 10px 5px 35px;
            box-sizing: border-box;
            font-family: $font_family_os;
            font-size: 14px;
            color: $color_text;
        }
        .range_block {
            position: relative;
            margin-bottom: 20px;
        }
        .ui-widget.ui-widget-content {
            //width: 320px;
            height: 1px;
            background: #CFDBE7;
            border-radius: 2px;
            border: 0;
            box-sizing: border-box;
        }
        
        .ui-slider .ui-widget-header {
            background: $color_a;
            border: 0;
            top: 0;
        }
        
        .ui-widget-content .ui-state-default {
            width: 13px;
            height: 13px;
            background: $color_a;
            border-radius: 50%;
            margin-left: -2px;
            top: -6px;
            border: 0 !important;
        }

    }
    .buttons {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .buttons input[type="submit"], .buttons input[type="reset"] {
	    margin-right: 0;
	    height: 30px;
	    line-height: 30px;
        font-size: 14px;
        font-weight: 500;
        border: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    .buttons input[type="submit"]{
	    float: right;
    }
    .buttons input[type="reset"]{
        color: $color_text;
        background-color: #CFDBE7;
        
        &:hover {
            color: #fff;
            background-color: $color_a_hover; 
        }
    }

    .clear {
        float: right;
        position: relative;
        font-weight: 500;
        padding-left: 30px;
        color: $color_a;

        .delete {
            right: auto;
            left: 0;
            &::before, &::after {
                background-color: $color_a;
            }
        }
    }
}




@media screen and (min-width: 1030px) {
    .production_catalog {
        .item {
            &:hover {
                box-shadow: -10px 10px 20px rgba(19, 73, 131, 0.2);
                z-index: 1;
                .img {
                    height: 270px;
                    margin-bottom: 20px;
                }

                .button {
                    opacity: 1;
                }
            }
        }
    }
}
@media screen and (max-width: 1300px) {
	.production_catalog {
        .item {
            width: calc(33.33% - 20px);
        }
    }
}

@media screen and (max-width: 1030px) {
    #production .page_width {
        padding-bottom: 1px;
    }
	.production_catalog {
        margin-bottom: 30px;
        .item {
            width: calc(50% - 20px);
        }
    }
}

@media screen and (max-width: 800px) {
	
}

@media screen and (max-width: 600px) {
    .production_catalog {
        .item {
            width: calc(100% - 20px);
            height: 310px;
            .img {
                height: 270px;
                margin-bottom: -5px;
            }
            h5 {
                height: auto;
            }
        }
    }
}


.product_images {
    float: left;
    width: 560px;
    position: relative;
    padding-bottom: 65px;

    .novelty {
        position: absolute;
        z-index: 2;
        top: 13px;
        right: 26px;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        padding: 3px 11px 1px;
        text-transform: uppercase;
        border: 2px solid #EEF5F9;
        background-color: #fff;
        color: $color_a;
    }

    .sale {
        position: absolute;
        z-index: 2;
        top: 13px;
        right: 110px;
        font-weight: 600;
        font-size: 24px;
        line-height: 22px;
        padding: 3px 11px 1px;
        border: 2px solid $color_a;
        background-color: #fff;
        color: $color_a;
    }
}

.main_slider {
    position: relative;
    width: 100%;
    height: 550px;
    margin-bottom: 10px;
    .slick-slider {
        margin: 0;
        padding: 0;
    }

    .item {
        width: 100%;
        height: 560px;

        a {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                display: inline-block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &.video {
            border-radius: 0;
            a {
                &:before {
                    content: "";
                    position: absolute;
                    width: 98px;
                    height: 98px;
                    top: 50%;
                    left: 50%;
                    margin: -49px 0 0 -34px;
                    background: url(images/icon_play.svg) no-repeat center/100% auto;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -77px 0 0 -77px;
                    width: 154px;
                    height: 154px;
                    border-radius: 50%;
                    border: 2px solid rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}

.preview_slider {
    height: 110px;
    position: relative;
    margin-bottom: 60px;
    &.slick-slider {
        margin: 0 -20px;
        padding: 0 20px;

        .slick-list {
            margin: 0 0px;
        }
    }
    .item {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 110px;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.video {
            border-radius: 0;
            &:before {
                content: "";
                position: absolute;
                width: 60px;
                height: 60px;
                top: 50%;
                left: 50%;
                margin: -27px 0 0 -25px;
                background: url(images/icon_play.svg) no-repeat center/100% auto;
            }
        }
    }

    .slick-arrow {
        margin-top: -10px;
        width: 15px;
        height: 20px;

        &:before {
            width: 8px;
            height: 8px;
            top: 6px;
            border-top-width: 1px;
            border-left-width: 1px;
        }
    }
    .slick-prev::before {
        left: 4px;
    }
    .slick-next:before {
        right: 4px;
    }
}

.description {
    margin-left: 560px;
    padding-left: 4.5%;

    p {
        font-size: 14px;
        line-height: 25px;
    }

    .made {
        margin-bottom: 25px;

        img {
            margin-left: 30px;
            vertical-align: middle;
            margin-bottom: 6px;
        }
    }

    .char_row {
        display: flex;
        font-size: 15px;
        padding-bottom: 9px;
        margin-bottom: 10px;
        border-bottom: 1px solid #CFDBE7;
        align-items: center;

        .cell {
            font-weight: 500;
            width: calc(100% - 250px);
            &:first-child {
                width: 250px;
                max-width: 250px;
                color: #7089A4;
                font-weight: 400;
            }
        }
    }
    .char_row + p{
        padding-top: 15px;
        font-size: 15px;
        overflow: auto;
    }

    .delivery_block {
        display: flex;
        color: $color_a;
        font-weight: 500;
        justify-content: space-between;

        .item {
            text-align: center;
            padding: 45px 20px 20px;

            p {
                max-width: 200px;
                margin-left: auto;
                margin-right: auto;
                line-height: 20px;
            }
        }
        
    }

    .documents_box {
        display: block;
        column-count: 2;
        column-gap: 100px;
        padding-top: 10px;
        margin-bottom: 52px;

        .download {
            height: auto;
            width: auto;
            display: inline-block;
            padding-left: 25px;
        } 
    }
}

.product_price {
    margin-left: 560px;
    padding-left: 4.5%;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: $color_a;
    padding-top: 18px;
    margin-bottom: 15px;


    .big {
        font-size: 25px;
    }
}

.product_price + .buttons {
    margin-left: 560px;
    padding-left: 4.5%;

    .button {
        padding-left: 30px;
        padding-right: 30px;
        &::after {
            display: none;
        }
    }
}

.available_options {
    clear: both;

    h3 {
        margin-bottom: 23px;
    }

    .table {
        overflow: auto;
        padding-bottom: 90px;

        table {
            min-width: 100%;
            color: $color_a;
            table-layout: fixed;
        }

        tr {
            &:nth-child(2n+1) {
                background: #EEF5F9;
            }
        }

        td,th {
            vertical-align: middle;
            padding: 8px 10px 7px;
            text-align: center;
            width: 2%;
        }

        td:first-child {
            text-align: left;
        }

        th {
            font-weight: 500;
            padding: 10px 25px;
        }
        tr:hover {
            td {
                font-weight: 600;
            }
        }
    }
}
.additional_slider {
    overflow: visible;
}
.products_slider {
    //opacity: 0.5;
    padding-bottom: 0;

    &:hover {
        z-index: 2;
    }

    .slick-list {
        padding-bottom: 110px;
        margin-bottom: -72px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        margin-top: -10px;
    }
    .slick-arrow {
        margin-top: -50px;
    }
}

.grey_bg {
    background-color: #EBEFF2;
    //opacity: 0.5;
    .page_width {
        padding-top: 50px;
    }

    h3 {
        margin-bottom: 53px;
    }

    .slick-list {
        padding-bottom: 40px;
        margin: -10px -30px 0;

    }

    .products_slider {
        .item {
            height: 358px;
            margin: 0 25px 25px;
            &:hover {
                height: 358px;
                .char {
                    height: 0;
                }
            }
        }
    }
}
.fancybox-is-open .fancybox-bg {
    opacity: .3;
    background: #0A2A4F;
}
.fancybox-content {
    box-shadow: -10px 10px 80px rgba(19, 73, 131, 0.6);
}


/* end production styles */