@charset "windows-1251";

@import 'reset';
@import 'base';

@import 'header';
@import 'main_screen';
@import 'features';
@import 'production';
@import 'campaigns';
@import 'about';
@import 'partners';
@import 'projects';
@import 'forms';
@import 'footer';
@import 'content';
// @import 'services';
// @import 'news';
// @import 'popup';
// @import 'technology';


// @import 'blog';
// @import 'catalog';
// @import 'galery';
// @import 'contacts';
//@import 'animate';


